/* media for nav bar */

@media screen and (max-width: 1200px) {
  nav {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  nav ul {
    width: 96vw;
    margin: 0px auto;
    flex-wrap: wrap;
  }
  nav ul li {
    margin-left: 13px;
  }
  .nav_search {
    margin: 0px auto;
    width: 50vw;
  }
  #search {
    width: 50vw;
  }
  .btn {
    margin: 0px auto;
  }
  #btn_reg {
    margin-left: 0px;
  }
}
@media screen and (max-width: 1397px) and (min-width: 1201px) {
  #btn_reg {
    margin-left: 60px;
  }
  nav ul li {
    margin-left: 13px;
  }
  .nav_search {
    margin-left: 30px;
  }
}

/* Home section Responsive */
@media (max-width: 1051px) {
  .Home-image-container {
    width: 309px;
  }
  .home-text-container {
    padding-left: 18px;
    line-height: 28px;
    flex-wrap: wrap;
    width: 424px;
    margin-right: 35px;
  }
}
@media (max-width: 880px) {
  #Home {
    height: 100vh;
    flex-direction: column-reverse;
  }
  .Join_btn {
    margin-bottom: 18px;
    margin-top: 21px;
    font-size: 16px;
    height: 41px;
    width: 89px;
  }
  .Home-image-container {
    position: relative;
    margin-top: 31px;
    width: 337px;
  }
  .home-text-container h1 {
    margin-top: 12px;
    font-size: 1.4rem;
    margin-bottom: 18px;
  }
  .home-text-container {
    margin: 0px auto;
    width: 70%;
    flex-wrap: wrap;
  }
  .Home_text {
    font-size: 1.1rem;
  }
}

/* second section Responsive */

@media screen and (max-width: 1235px) and (min-width: 641px) {
  .second_section_text {
    max-width: 80vw;
    top: 8px;
  }
  .card_container {
    gap: 39px;
    padding: 2px;
    justify-content: space-evenly;
  }
  .cards {
    height: 37%;
    padding: 7px;
  }
  .card_heading {
    font-size: 16px;
  }
  .card_paragraph {
    font-size: 11px;
  }
  .second_section_headline h1 {
    letter-spacing: 3px;
    margin-bottom: 8px;
    font-size: 18px;
  }
  .second_section_paragraph {
    margin: 0px auto;
    font-size: 12px;
    width: 70%;
  }
  .second_section_headline {
    margin: 0px auto;
  }
}
@media screen and (max-width: 640px) {
  .second_section_text {
    width: 100%;
    margin: 0px auto;
    max-width: 80vw;
    top: 8px;
    left: 0px;
  }
  .card_container {
    padding: 2px;
    gap: 22px;
    width: 90%;
    height: 83%;
    left: 50%;
    top: 42%;
  }
  .cards {
    height: 37%;
    padding: 7px;
    border-radius: 22px;
    position: relative;
    width: 44%;
    color: #fff;
  }
  .card_heading {
    font-size: 16px;
  }
  .card_paragraph {
    font-size: 11px;
  }
  .second_section_headline h1 {
    letter-spacing: 2px;
    margin-bottom: 3px;
    font-size: 12px;
  }
  .second_section_paragraph {
    margin: 0px auto;
    font-size: 9px;
    width: 100%;
  }
  .second_section_headline {
    margin: 0px auto;
  }
  @media screen and (max-width: 380px) {
    .second_section_text {
      width: 100%;
      margin: 0px auto;
      max-width: 80vw;
      top: 8px;
    }
    .second_section_headline h1 {
      letter-spacing: 1.5px;
      margin-bottom: 3px;
      font-size: 9px;
    }
    .second_section_paragraph {
      line-height: 1.7;
      margin: 0px auto;
      font-size: 9px;
      width: 100%;
    }
    .cards {
      height: 27%;
      padding: 4px;
      border-radius: 22px;
      position: relative;
      width: 44%;
    }
  }
  .card_container {
    /* margin-bottom: 42px; */
    padding: 0px;
    gap: 7px;
    width: 100%;
    height: 78%;
    left: 50%;
    top: 42%;
  }
  .card_heading {
    font-size: 13px;
  }
  .card_paragraph {
    line-height: 2;
    font-size: 9px;
  }
}

/* Third and Fourth Section Responsive */
@media screen and (max-width: 1200px) and (min-width: 801px) {
  .About-section {
    margin: 0px auto;
    max-width: 80vw;
    gap: 14px;
  }
  .Third-section-card-container {
    margin: 0px auto;
    width: 80vw;
  }
  .flex-items {
    gap: 20px;
    justify-content: space-around;
  }
  .Third-section-card {
    gap: 1px;
    padding: 9px;
  }
  .card-img img {
    height: 124px;
  }
  .card-title {
    font-size: 15px;
  }
  .card-desc {
    font-size: 14px;
    font-weight: 900;
  }
  .Fourth-section-card-container {
    margin: 0px auto;
    width: 80vw;
  }
  .Fourth-section-card {
    gap: 1px;
    padding: 9px;
  }
}
@media screen and (max-width: 800px) {
  .About-section {
    max-width: 95vw;
    gap: 6px;
    margin: 0px auto;
  }
  .About-section h1 {
    margin-top: 0px;
    letter-spacing: 0px;
    font-weight: 900;
    font-size: 20px;
  }
  .About-section p {
    font-weight: 500;
    font-size: 11px;
  }
  .Third-section-card {
    width: 100%;
    margin: 0px auto;
    max-width: 91vw;
    gap: 4px;
    padding: 4px;
    flex-direction: column;
  }
  .Third-section-card-container {
    height: 90vh;
  }
  .flex-items {
    flex-direction: column;
  }
  .card-img img {
    background-size: cover;
    border-radius: 38px;
    height: 80px;
  }
  .card-title {
    line-height: 1.5;
    font-size: 10px;
  }
  .card-desc {
    line-height: 1.5;
    font-size: 10px;
    font-weight: 700;
  }
  .Fourth-section-card {
    width: 100%;
    margin: 0px auto;
    max-width: 80vw;
    gap: 4px;
    padding: 13px;
  }
  .Fourth-section-card-container {
    height: 80vh;
  }
}
@media screen and (max-width: 380px) {
  .About-section h1 {
    font-size: 15px;
  }
  .About-section p {
    font-size: 8px;
  }
  .Third-section-card {
    max-width: 87vw;
  }
  .card-img img {
    height: 74px;
  }
  .card-title {
    line-height: 1.5;
    font-size: 9px;
  }
  .card-desc {
    line-height: 2;
    font-size: 8px;
    font-weight: 700;
  }
}

/* Fifth and sixth section responsive */
@media screen and (max-width: 1280px) and (min-width: 751px) {
  .Fifth-section .btn_yellow {
    height: 20%;
    font-size: 13px;
    width: 26%;
    margin: 0;
  }
  .Sixth-section .btn_yellow {
    font-size: 13px;
    width: 22%;
    margin: 0;
  }
}
@media screen and (max-width: 751px) and (min-width: 445px) {
  .Fifth-section .btn_yellow {
    height: 59px;
    font-size: 12px;
    width: 41%;
  }
  .Sixth-section .btn_yellow {
    font-size: 11px;
    width: 31%;
    margin: 0;
  }
  .Join-Blogs h1 {
    line-height: 1;
    font-size: 33px;
  }
  .Connect-Fans h1 {
    line-height: 1;
    font-size: 29px;
  }
}
@media screen and (max-width: 445px) {
  .Fifth-section .btn_yellow {
    height: 53px;
    font-size: 13px;
    width: 58%;
  }
  .Sixth-section .btn_yellow {
    font-size: 14px;
    width: 72%;
    margin: 0;
  }
  .Join-Blogs h1 {
    line-height: 1;
    font-size: 28px;
  }
  .Connect-Fans h1 {
    line-height: 1;
    font-size: 24px;
  }
}

/* Seventh section  */
@media screen and (max-width: 1280px) and (min-width: 751px) {
  .left-box h1 {
    width: 50%;
    font-size: 26px;
    line-height: 1.2;
  }
  .left-box p {
    font-size: 15px;
    width: 73%;
  }
  .right-box {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    margin-right: 17px;
    width: 41vw;
  }
  .right-box img {
    height: 50vh;
    width: 40vw;
  }
  .right-box p {
    color: #020728;
    position: absolute;
    bottom: 84px;
    font-size: 20px;
    right: 21px;
  }
}
@media screen and (max-width: 751px) {
  .left-box {
    left: 28%;
  }
  .left-box h1 {
    width: 50vw;
    font-size: 28px;
    line-height: 1.2;
  }
  .left-box p {
    width: 50vw;
    font-size: 16px;
    /* width: 80%; */
  }
  .right-box img {
    height: 47vh;
    margin: 0px 15px;
    width: 35vw;
  }
  .right-box {
    height: 47vh;
  }

  .right-box p {
    position: absolute;
    bottom: -2px;
    font-size: 14px;
    right: 10px;
  }
}
