@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-style: "roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}
body {
  display: flex;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
header {
  border: 1px solid #ccc;
  height: 100vh;
}
nav h1 {
  font-size: 25px;
  font-weight: 500;
  padding: 10px;
  border: 1px solid #ccc;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  padding: 10px;
  color: black;
  border: 1px solid #ccc;
}
nav ul li:hover {
  background-color: #cccccce3;
  transition: 0.3s ease-in-out;
}

/* Main Section */
/* Itroduction  */

section h2 {
  border-bottom: 1px solid #ccc;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 10px;
  box-shadow: 5px 3px 4px rgba(1, 1, 1, 0.9);
  border-radius: 5px;
}
main {
  padding: 50px;
  max-width: 1200px;
}
#Javascript_and_Java ul {
  list-style-type: square;
}
section {
  margin-bottom: 50px;
}
section article {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section article ul {
  margin-left: 25px;
}
section article ul li {
  margin-bottom: 10px;
}
code {
  white-space: pre-line;
  line-height: 2;
  background: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
@media (max-width: 468px) {
  body {
    flex-direction: column;
  }
  header {
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
  }

  section h2 {
    min-width: 277px;
  }
}
