* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.apply_box {
  max-width: 600px;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 5px 4px 5px rgba(1, 1, 1, 0.1);
  border-radius: 10px;
}

.web {
  font-size: 20px;
  font-weight: bold;
}

.form_container {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.form_control {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 15px;
  margin-bottom: 5px;
}
input,
select,
textarea {
  padding: 6px 10px;
  border: 1.5px solid #ccc;
  font-size: 13px;
}
input:focus {
  outline-color: rgb(224, 142, 142);
}
.buuton_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  transition-property: all;
  transition-duration: 5;
  transition-delay: 1s;
  transition-timing-function: steps(5);
}

button {
  padding: 5px;
  background-color: red;
  border: 1px solid black;
  color: white;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
button:hover {
  background-color: #4ca146;
  border: 2px solid rgba(247, 0, 0, 0.341);
  color: black;
  transform: scale(1.04);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.textarea_control {
  grid-column: 1 / span 2;
}

textarea:focus {
  outline-color: rgb(224, 142, 142);
}

.textarea_control textarea {
  width: 100%;
}

/* Css for mobile */
.form_container {
  display: flex;
  flex-direction: column;
}
