@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Exo+2:wght@600&family=Kumbh+Sans:wght@600&family=Roboto+Flex:opsz,wght@8..144,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
html,
body {
  margin: 0;
  height: 100%;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.my-2 {
  margin: 20px 0px;
}
.mx-width-1 {
  max-width: 1200px;
}
.m-auto {
  margin: 0px auto;
}
.font-1 {
  font-family: "Balsamiq Sans", sans-serif;
}
.font-2 {
  font-family: "Exo 2", sans-serif;
}
.font-3 {
  font-family: "Kumbh Sans", sans-serif;
}
.font-4 {
  font-family: "Roboto Flex", sans-serif;
}
.br-1 {
  border: 2px solid yellow;
}
.br-2 {
  border: 2px solid #ff4500;
}
.br-3 {
  border: 2px solid rgb(1, 145, 255);
}
.cr-1 {
  color: yellow;
}
.cr-2 {
  color: #ff4500;
}
.cr-3 {
  color: rgb(1, 145, 255);
}

/* nav bar */

nav {
  width: auto;
  display: flex;
  flex-direction: row;
  background-color: #1a1f3c;
  padding: 9px;
}
.logo {
  background-image: url(../images/logo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 86px;
  height: 62px;
  width: 74px;
}
nav ul {
  margin-left: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style: none;
  margin-left: 29px;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in;
  cursor: pointer;
  color: #df6f1f;
}
nav li:hover {
  border-bottom: 2px solid #ee0f0f;
  transition: 0.2s ease-in;
}
a {
  text-decoration: none;
  list-style: none;
}

/* nav bar search */

.nav_search {
  margin-left: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search {
  width: 373px;
  height: 33px;
  border: none;
}
.nav_select {
  font-family: serif;
  font-weight: 600;
  color: color(display-p3 0.85 0.19 0.14 / 0.76);
  font-size: 1rem;
  height: 33px;
  width: 49px;
  border: none;
  border-right: 1px solid black;
}
.search_icon {
  height: 33px;
  background: white;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #070808;
  border-left: 1px solid black;
}
/* nav button */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn_reg {
  height: 44px;
  width: 130px;
  padding: 12px;
  color: white;
  font-family: serif;
  margin-left: 184px;
  font-size: 18px;
  border-radius: 9px;
  border: 2px solid #b6a0a0;
  background: #e11818;
}
#btn_reg:hover {
  background-color: rgba(1, 1, 1, 0.1);
  color: #ffffff;
  border: 2px solid;
  cursor: pointer;
}

#Home {
  position: relative;
  height: 100%;
  width: 100%;
  /* background: #262654ff; */
  background-color: #020728;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-text-container {
  margin-right: 100px;
  color: white;
  line-height: 30px;
  width: 562px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-text-container h1 {
  width: 100%;
  font-family: cursive;
  font-size: 2.3rem;
  margin-bottom: 23px;
  left: -5px;
  position: relative;
}
.btn2 {
  width: 100%;
}
.btn_yellow {
  margin-top: 78px;
  padding: 12px;
  text-align: center;
  border-radius: 22px;
  font-size: 23px;
  background: #ffbd13;
  height: 55px;
  width: 119px;
  transition: 0.3s ease-in;
}
.btn_yellow:hover {
  transform: scale(1.1);
}
.Home-image-container {
  background-image: url(../images/homewall.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 13%;
  width: 354px;
  height: 500px;
  margin-left: 12px;
}
.Home_text {
  font-size: 1.4rem;
  font-family: inherit;
}

/* second section */

#second-section {
  width: 100%;
  height: 100%;
  /* background-color: #1a1f3c; */
  background-color: #020728;
}
.second_section_text {
  top: 30px;
  left: 21%;
  position: relative;
  flex-direction: column;
  display: flex;
  width: 67%;
  color: white;
}
.second_section_headline h1 {
  letter-spacing: 5px;
  margin-bottom: 20px;
  font-size: 27px;
  font-family: "FontAwesome";
}
.second_section_paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 70%;
}
/* second section card design */
.card_container {
  gap: 70px;
  padding: 50px;
  width: 90%;
  height: 75%;
  position: relative;
  left: 50%;
  top: 43%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cards {
  padding: 17px;
  border-radius: 22px;
  border: 1px solid #ea1818;
  position: relative;
  width: 32%;
  color: #fff;
}
.card_heading {
  font-size: 25px;
}
.card_paragraph {
  font-size: 17px;
  margin-top: 13px;
}
/* borders to individual cards */
#card1 {
  border: 1px solid yellow;
}
#card1head {
  color: yellow;
}
#card2 {
  border: 1px solid linear-gradient(to right, #ff0000, #ff4500);
}
#card2head {
  color: rgb(255, 34, 0);
}
#card3 {
  border: 1px solid rgb(255, 34, 0);
}
#card3head {
  color: rgb(255, 34, 0);
}
#card4 {
  border: 1px solid rgb(1, 145, 255);
}
#card4head {
  color: rgb(1, 145, 255);
}

/* Third section css start */

.Third-section {
  height: 100vh;
  width: 100vw;
  background-color: #020728;
  color: white;
  font-family: var(--font-2);
}
.About-section {
  gap: 33px;
  flex-direction: column;
  display: flex;
}
.About-section h1 {
  margin-top: 50px;
  letter-spacing: 3px;
  font-weight: 900;
  font-size: 42px;
}
.About-section p {
  font-weight: 630;
  font-size: 21px;
}
.Third-section-card-container {
  align-items: center;
  display: flex;
  position: relative;
  height: 75vh;
  width: 100%;
  justify-content: center;
}
.flex-items {
  justify-content: space-around;
  flex-direction: row;
  display: flex;
}
.card-img img {
  background-size: cover;
  border-radius: 38px;
  height: 161px;
}
.Third-section-card {
  gap: 10px;
  padding: 19px;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  width: 25%;
}

/* Third section css end */

/* Fourth section css start */
.Fourth-section {
  height: 100vh;
  width: 100vw;
  background-color: #020728;
  color: white;
  font-family: var(--font-2);
}

.Fourth-section-card-container {
  align-items: center;
  display: flex;
  position: relative;
  height: 75vh;
  width: 100%;
  justify-content: center;
}
.flex-items {
  justify-content: space-around;
  flex-direction: row;
  display: flex;
}
.card-img img {
  background-size: cover;
  border-radius: 38px;
  height: 161px;
}
.Fourth-section-card {
  gap: 10px;
  padding: 19px;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  width: 25%;
}

/* Fourth section css end */
/* Fifth section css Start */

.Fifth-section {
  height: 100vh;
  background: #020728;
  position: relative;
}
.Join-Blogs {
  gap: 30px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
  color: white;
}
.Join-Blogs h1 {
  font-size: 40px;
}
.Join-Blogs p {
  font-size: 20px;
}
.Fifth-section .btn_yellow {
  font-size: 18px;
  width: 20%;
  margin: 0;
}
/* Fifth section css end */

/* sixth section css start */
.Sixth-section {
  height: 100vh;
  position: relative;
}
.Sixth-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../images/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(4px);
  z-index: -1;
}
.Connect-Fans {
  gap: 30px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
  color: white;
}
.Connect-Fans h1 {
  font-size: 40px;
}
.Connect-Fans p {
  font-size: 20px;
}
.Sixth-section .btn_yellow {
  font-size: 18px;
  width: 20%;
  margin: 0;
}

/* sixth section css end */
/* Seventh section css Start */
.Seventh-section {
  background: #020728;
  height: 100vh;
}
.Seventh-section-container {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: end;
}
.left-box {
  gap: 30px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
  color: white;
}
.left-box h1 {
  font-size: 40px;
  line-height: 1.2;
}
.left-box p {
  font-size: 20px;
  width: 80%;
}
.right-box {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 90%;
  width: 40%;
  background: white;
  position: relative;
}
.right-box img {
  height: 461px;
}
.right-box p {
  position: absolute;
  bottom: 10px;
  font-size: 20px;
  right: 10px;
}

.Seventh-section .btn_yellow {
  font-size: 15px;
  margin: 0;
}

/* Seventh section css end */
